@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="height: 120px"></div>
    <h1 class="display-7">Empréstimos Livros</h1>
    <p>Projeto C# Asp.net, com CRUD completo -- Lucas Sarsur Auad</p> 
    <p>Versão 1.0 (21/4/2025)</p>

    <div>
        <img src="img/images.png"
    </div>
</div>
